* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#__next {
  height: 100%;
  min-width: 100%;
}

:root {
  --color-primary: #b92f30;
  --color-secondary: #efeee0;
  --color-white: #ffffff;
  --color-grey: #3a3b3c;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
li,
a,
label,
textarea {
  font: 400 16px 'Roboto', sans-serif;
  color: var(--color-grey);
}

a {
	font-weight: 600;
  text-decoration-color: var(--color-grey);
}

p {
  margin: 4px 0;
}

i {
	white-space: normal;
	display: none;
}

button {
  cursor: pointer;
}