.header {
  display: flex;
  width: 100%;
  padding: 30px;
	background-color: var(--color-primary);
}

.section {
  display: flex;
  height: 100%;
}

.aside,
.main {
  padding: 8px;
  height: 100%;
}

.aside {
  flex: 1;
  border-right: 1px solid var(--color-grey);
}

.main {
  flex: 3;
}
