.wrapper {
	margin-bottom: 16px;
}

.iframe {
	width: 560px;
	height: 315px;
}

@media (max-width: 1024px) {
  .iframe {
    width: 360px;
		height: 202px;
  }
}

@media (max-width: 425px) {
  .iframe {
    width: 260px;
		height: 145px;
  }
}
