.wrapper {
	width: 100%;
}

.wrapper span p {
	text-indent: 32px;
	margin: 8px 0;
	word-break: break-all;
}

.wrapper span img {
	width: 560px;

}

@media (max-width: 1024px) {
  .wrapper span img {
    width: 360px;
  }
}

@media (max-width: 425px) {
  .wrapper span img {
    width: 260px;
  }
}
